<!DOCTYPE html>                                                  view/index.ejs
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href='/css/day.css' > -->
    <title>Current time</title>
  </head>
  <style>
    section{
        display: flex; 
        flex-wrap: wrap;   
        gap: 50px;
    }
    button{
      border: none;
      background: dodgerblue;
      color: azure;
    }
    figcaption{
      display: flex;
      justify-content: space-between;
    }
    figcaption input[type='number']{
      width: 28px;
    }
    aside{
      position: fixed;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      right: 0;
      top: 0;
      width: 150px;
      height: fit-content;
      background-color: rgba(1, 122, 122, .5);
      font-size: small;
      color: aliceblue;
    }
    aside img{
      width: 70px;
    }
    aside p{
      margin: 0;
    }
  </style>
  <body>
    <section>
      <% for (let item of products) {%>
        <form action="/addToCart" method="post" id=<%=item.id%> class="card">
          <img src=<%= item.img %> alt="image">
          <figcaption>
            <%= item.name %>
            <input type="number" name="quantity" id="">
            <button 
              id=<%=item.id%> 
              name='id'
              value=<%=item.id%> >add to cart</button>
          </figcaption>
        </form>
      <% } %>
    </section>

    <aside>
      <p>Cart</p>
      <% for(let item of addCart){ %>
        <figure>
          <img src=<%= products[item.id-1].img %> alt="">
          <p><%= products[item.id-1].name %></p>
          <p><%= item.quantity %></p>
        </figure>
      <% } %> 
    </aside>

  </body>
</html>
